!!! 5
%html
  %head
    %title= yield_content(:title)
    %link{href: '/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{href: '/css/styles.css', rel: 'stylesheet'}
    %script{src: '/js/bootstrap.min.js'}
  %body
    %nav.navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{href: url('/')} EQ Automator
          %ul.nav
            %li.active
              %a{href: url('/')} Home
            %li
              %a{href: url('/contact_quorum')} Contact Form
    .container
      =yield
