!!! 5
%html
  %head
    %title= yield_content(:title)
    %link{href: '/css/bootstrap.min.css', rel: 'stylesheet'}
    %link{href: '/css/styles.css', rel: 'stylesheet'}
    %script{src: '/js/bootstrap.min.js'}
  %body
    .container
      =yield
